<% provide :title, "#{t('.title', resource: resource.model_name.human)}" %>
<article class ="mb-4">
  <h3 class="mb-2"><%= t('.title', resource: resource.model_name.human) %></h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mb-2">
      <%= f.label :current_password %> (<%= t('.this_is_must') %>)<br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <div class="field mb-2">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>
    <div class="field mb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>
    <div class="field mb-2">
      <%= f.label :password %>
      ※<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
      <% if @minimum_password_length %>
        <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
      <% end %>
      <br>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="field mb-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="actions mb-2">
      <%= f.submit t('.update'), class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</article>
<hr>
<article class="mb-4">
 <h3 class="mb-2"><%= t('.cancel_my_account') %></h3>
  <p>
    <div class="mb-2"><%= t('.unhappy') %></div>
    <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn btn-sm btn-danger" %>
  </p>
</article>
<hr>
<%= link_to t('devise.shared.links.back'), :back %>