<% user = comment.user %>
<div class="comment-card mb-3" id="comment_<%= comment.id %>">
  <div class="card-body">
    <div class="card-title">
      <span class="mr-1 comment_number">
        <%= comment_number(index: comment_counter, page: params[:page]) %>.
      </span>
      <span class="mr-1"><%= user.nickname %></span>
    </div>
    <div class="card-text">
      <%= auto_link(simple_format(h(comment.content), {},  sanitize: false, wrapper_tag: "div")) %><br>
    </div>
  </div>
  <div class="post_details text-right pr-2">
    <small>
      <span class="mr-1"><%= comment.created_at %></span>
      <% if current_user?(user) %>
        <span class="mr-1">
          <%= link_to "削除", comment, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "text_delete" %>
        </span>
      <% end %>
    </small>
  </div>
</div>
<hr>