<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger container">
      <strong>
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </strong>
      <br>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li>・<%= message %>。</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
