<hr class="mb-3">
<div class="sample_user mb-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, value: "user@example.com" %>
    <%= f.hidden_field :password, value: "password" %>
    <%= f.submit "サンプルユーザーでのログインはこちら", class: "btn btn-outline-info" %>
  <% end %>
</div>
<hr class="mb-3">