<% provide :title, "#{t('.forgot_your_password')}" %>
<h2><%= t('.forgot_your_password') %></h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field mb-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="actions mb-2">
    <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
