<% if object.errors.any? %>
  <div id="errors_explanation">
    <div class="alert alert-danger container">
      <strong><%= object.errors.count %>個のエラーがあります。</strong>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li>・<%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
