<% provide :title, "#{t('.sign_in')}" %>
<h2 class="mb-2"><%= t('.sign_in') %></h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="field mb-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field mb-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions mb-2">
    <%= f.submit t('.sign_in'), class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
<%= render "devise/shared/sample_user" %>
<%= render "devise/shared/links" %>
