// alert

$success: #5cb85c;
$alert : #d9534f;
.alert {
  border-radius: 4px;
  &-alert{
    color: darken($alert, 20%);
    border: solid 1px rgba($alert, 0.7);
    background-color: lighten($alert, 35%);
  }
  &-notice {
    color: darken($success,20%);
    border: solid 1px rgba($success, 0.7);
    background-color: lighten($success, 35%);
  }
}

// Post card

$card_user_color : #0a8ad4bb;
$delete_post : #b41753;

.user_card_name{
  color: desaturate($card_user_color, 15%);
}

.text_delete{
  color: $delete_post;
}

// Margin adjustment

.push{
  clear:both;
}

// for kaminari

.pagination {
  justify-content: center;
}