<% if current_user.present? %>
  <div class="comment_form p-3">
    <div class="mb-2"><strong>レスを投稿</strong></div>
    <%= form_with(model: comment, local: true) do |f| %>
      <%= render "shared/error_messages", object: comment %>
      <%= f.hidden_field :post_id, value: post.id %>
      <div class="field mb-2">
        <%= f.text_area :content, placeholder: "内容", cols:40 , rows:10, class: "form-control" %>
      </div>
      <div class="actions mb-2">
        <%= f.submit "投稿", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
