<% user = post.user %>
<div class="post card mb-3" id="post_<%= post.id %>">
  <div class="card-body">
    <div class="card-title">
      <h3><%= post.title %></h3>
    </div>
    <hr>
    <%= auto_link(simple_format(h(post.content), {}, sanitize: false, wrapper_tag: "div"))%>
  </div>
  <div class="card-text">
    <div class="post_details text-right pr-2">
      <small class="text-muted">
        <span class="mr-1 user_card_name"><%= user.nickname %>★</span>
        <span class="mr-1">
          <% if current_path?(post_path(post)) %>
            レス：<%= post.comments.count %>件
          <% else %>
            <%= link_to "レス：#{post.comments.count}件", post_path(post) %>
          <% end %>
        </span>
        <span class="mr-1"><%= post.created_at %></span>
        <% if current_user?(user) %>
          <span class="mr-1">
            <%= link_to "スレッドを削除", post, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "text_delete" %>
          </span>
        <% end %>
      </small>
    </div>
  </div>
</div>