<% provide(:title, "スレッド投稿") %>
<h2>スレッド投稿</h2>
<%= form_with(model: @post, local: true) do |f| %>
  <%= render "shared/error_messages", object: @post %>
  <div class="field mb-2">
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: "タイトル（30文字以内）", class: "form-control" %>
  </div>
  <div class="field mb-2">
    <%= f.label :content %><br />
    <%= f.text_area :content, placeholder: "内容", cols:40 , rows:12, class: "form-control" %>
  </div>
  <div class="actions mb-2">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
