<% provide(:title, @search_word) %>
<article class="main_section">
  <div class="card mb-3">
    <div class="card-header search_word">
      <h5>検索ワード：<%= @search_word %></h5>
    </div>
  </div>
  <% if @posts.present? %>
    <%= render "shared/posts_list_with_paginate", posts: @posts %>
  <% else %>
    <div class="p-3">スレッドが見つかりません。</div>
  <% end %>
</article>
