<% provide(:title, @post.title) %>
<div class="main_thread mb-3">
  <%= render "posts/post", post: @post %>
</div>
<div class="comments_field">
  <div class="mb-3"><%= paginate @comments %></div>
  <hr>
  <%= render partial:"comments/comment", collection: @comments, as: :comment %>
  <div class="mb-3"><%= paginate @comments %></div>
  <%= render "posts/comment_form", post: @post, comment: @comment %>
</div>
