<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Yama_ch", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "投稿", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ユーザ編集", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <%= form_with url: search_posts_path, method: :get, local: true, class: "search_form form-inline my-2 my-lg-0" do |f| %>
        <%= f.text_field :search, class:"form-control mr-sm-2", placeholder:"検索ワードを入力", type: "search" %>
        <%= f.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>
</nav>