<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/default" %>
    <%= render "layouts/shim" %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container wrapper">
      <%= render "layouts/flash_messages" %>
      <div class="push mb-4"></div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
